<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказ сформирован</title>
</head>
<body>
    <h1>Заказ сформирован</h1>

    <div class="bird_card">
            <h3>Имя: {{ k1 }}</h3>
            <h3>Фамилия: {{ k2 }}</h3>
            <h3>Почта: {{ k3 }}</h3>
            <h3>Телефон: {{ k4 }}</h3>
            <h3>Адрес: {{ k5 }}</h3>
            <p><b>Количество месяцев доставки воды: </b>{{ k6 }}</p>
            <p><b>Объём баллона воды: </b> {{ k7 }}</p>
    </div>
    <a href="{% url 'home' %}">Назад</a>
</body>
</html>